main {
    padding-left: 3rem;
    padding-right: 3rem;
}

.header {
    align-items: center;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    height: 10vh;
    justify-content: center;
    margin-top: 1.5rem;
    text-align: center;
}

.converter-container {
    display: grid;
    grid-template-rows: 2 1fr;
    height: 90vh;
    margin-top: 1rem;
}

.converter-section {
    align-items: center;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
}

.output-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.input-label {
    font-size: 2rem;
}

.timestamp-input {
    font-size: 1.5rem;
    height: 30%;
    margin-top: 2rem;
    width: 60%;
    text-align: center;
}

.timezone-title {
    font-size: 2rem;
    font-weight: normal;
}

.converted-wrapper {
    align-items: center;
    border: 1px solid black;
    display: flex;
    height: 40%;
    justify-content: center;
    margin-top: 2rem;
    width: 60%;
}

.converted-timestamp {
    font-size: 1.2rem;
}