main {
    padding-left: 3rem;
    padding-right: 3rem;
}

.header {
    align-items: center;
    border-bottom: 2px solid black;
    display: flex;
    flex-direction: column;
    height: 10vh;
    justify-content: center;
    margin-top: 1.5rem;
    text-align: center;
}

.converter-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 84vh;
    margin-top: 1rem;
}

.converter-section {
    align-items: center;
    display: flex;
    border-right: 2px solid black;
    flex-direction: column;
}

.output-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 30rem;
    margin-top: 2rem;
}

.input-label {
    /* font-size: 2rem; */
}

.converter-header {
    font-size: 2rem;
    font-weight: normal;
}

.timestamp-input {
    font-size: 1.5rem;
    height: 30%;
    margin-top: .5rem;
    text-align: center;
}

.timezone-title {
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
}

.converted-wrapper {
    align-items: center;
    border: 1px solid black;
    display: flex;
    height: 40%;
    justify-content: center;
    margin-top: 2rem;
}

.converted-timestamp {
    font-size: 1.2rem;
}

.diff-title {
    font-size: 2rem;
    font-weight: normal;
}

.diff-section {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.diff-inputs {
    display: flex;
    margin-top: .5rem;
}

.diff-inputs > * {
    text-align: center;
}

.diff-input-field {
    height: 10rem;
    width: 83%;
    margin-bottom: .5rem;
    margin-top: .5rem;
    text-align: center;
}

.diff-output-section {
    height: 70%;
    margin-top: 2rem;
    width: 80%;
}